//- Created by Stefan on 11.03.2017.

extends layout

block content
    div(class='diceroller')
        h1= title
        p Welcome to the dice roller you always wanted!
        div(
            id='rollLog'
            class='textarea'
        )= rollResult
        form(class='diceForm' method='POST')
            input(
                type='text'
                id='rollMsg'
                name='rollMsg'
                placeholder="2d6 + 3"
                autofocus
            )
            input(
                type='submit'
                id='rollBtn'
                value='Roll!'
            )
    canvas(id='renderCanvas')