//- Created by Stefan on 11.03.2017.

extends layout

block content
    canvas(id='renderCanvas')
    div(class='diceroller')
        div(
            id='rollLog'
            class='textarea'
        )= rollResult
        form(class='diceForm' method='POST')
            input(
                type='text'
                id='rollMsg'
                name='rollMsg'
            )
            input(
                type='submit'
                id='rollBtn'
                value='Roll!'
            )